<p style="text-align: center">
  <img src="./chameleon.jpg" style="position: relative" />
</p>

<script>
  let obj = document.querySelector("img");
  let angle = Math.PI / 2;
  function animate(time, lastTime) {
    if (lastTime != null) {
      angle += (time - lastTime) * 0.001;
    }

    obj.style.top = Math.sin(angle) * 20 + "px";
    obj.style.left = Math.cos(angle) * 200 + "px";
    requestAnimationFrame((newTime) => animate(newTime, time));
  }
  requestAnimationFrame(animate);
</script>
